.detail-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 99vh;
}

.left-column {
  background-color: rgb(20, 20, 20, 0.6);
  height: 100%;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.character-image {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 100%;
  border: 8px solid #1b5043;
}

.name {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.property {
  font-size: 2.5rem;
  font-family: system-ui;
  color: white;
}

@media screen and (max-width: 768px) {
  .detail-container {
    flex-direction: column-reverse;
    height: 100%;
    margin-top: 20px;
    gap: 20px;
  }

  .left-column {
    width: 100%;
    height: 50%;
    padding: 20px 0;
  }

  .character-image {
    width: 70%;
    height: 70%;
  }

}
  

