/* index.css */

/* Estilos generales */
body {
  background-image: url("./img/3307.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 1rem;
  padding: 0.8rem;
  width: 300px;
  background: linear-gradient(to bottom, rgb(87, 197, 101), rgb(12, 49, 15));
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 1.5rem;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 1.5rem;
}

/* Estilos para el encabezado */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to top, rgb(87, 197, 101), rgb(12, 49, 15));
  color: #fff;
  padding: 1rem;
}

input[type="text"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-right: 1rem;
  font-size: 1rem;
  text-align: center;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 80rem;
  border: none;
  background-color: #fff;
  color: #292929;
  font-weight: bold;
  cursor: pointer;
}

.btn1 {
  position: absolute;
  top: 25px;
  right: 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 30px;
  border: none;
  background-color: #fff;
  color: #292929;
  font-weight: bold;
  cursor: pointer;
}

.btn2 {
  position: absolute;
  top: 25px;
  right: 100px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 30px;
  border: none;
  background-color: #fff;
  color: #292929;
  font-weight: bold;
  cursor: pointer;
}

.btn3 {
  position: absolute;
  top: 25px;
  right: 200px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 30px;
  border: none;
  background-color: #fff;
  color: #292929;
  font-weight: bold;
  cursor: pointer;
}

.boton {
  margin-left: 280px;
  margin-bottom: 0px;
  border: none;
  background-color: #fff;
  color: #292929;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(20, 20, 20, 0);
  color: white;
}

.btn:hover,
.btn1:hover,
.btn2:hover,
.btn3:hover {
  background-color: #c7c6c6;
}

.link {
  display: fixed;
  text-align: center;
  text-decoration: none;
  color: rgb(11, 50, 100);
}

.character-data {
  flex: 1;
  justify-content: flex-start;
}

.character-image {
  flex: 1;
  justify-content: flex-end;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

.imagen {
  margin-top: 20px;
}

.form {
  position: relative;
  margin-top: 40rem;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  width: 50rem;
  height: 40rem;
  margin-bottom: 4rem;
  border-radius: var(--radius);
  background-color: #1b5043;
}

.form-control1 {
  position: absolute;
  top: 35%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translate(-50%, -50%);
  column-gap: 30px;
  width: 90%;
  height: 6%;
  font-family: Arial black;
  font-size: 80px;
}

.form-control2:focus {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.form-control2 {
  position: absolute;
  top: 65%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translate(-50%, -50%);
  column-gap: 30px;
  width: 90%;
  height: 6%;
  font-family: Arial black;
  font-size: 80px;
  box-shadow: inset;
}
.label1 {
  position: absolute;
  top: 54%;
  left: 20%;
  color: #ffffff;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.label2 {
  position: absolute;
  top: 25%;
  left: 13%;
  color: #fffdfd;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.btn4 {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 10rem;
  height: 3rem;
  text-align: center;
  transform: translate(-50%, -50%);
  border: none;
  background-color: #fff;
  color: #292929;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial black;
  font-size: 25px;
  border-radius: 10px;
}

.form-img {
  position: absolute;
  width: 50rem;
}

.email-error {
  position: absolute;
  top: 41%;
  left: 5%;
  color: #a1a334;
  font-size: 20px;
}

.password-error {
  color: #a1a334;
  position: absolute;
  top: 70%;
  left: 5%;
  font-size: 20px;
}
